/**color**/
input,a,select{cursor:pointer;}
/**border**/
.w310 { width: 310px;}
.w251 { width: 251px;}
.w240 { width: 240px;}
.w265 { width: 265px;}
.w285 { width: 285px;}
.w405 { width: 405px;}
.w700 { width: 700px;}
.w750 { width: 750px;}
.w675 { width: 675px;}
.h180 { height: 180px;}

.weight-bold{ font-weight:bold;}

/**常用颜色**/
.black,   a.black{color:#333;}
.white,   a.white,  a.white:hover {color:#fff;}
.blue,    a.blue, a.blue:hover  {color:#1981c8;}
.blue-orange, a.blue-orange{color:#0147A6},a.blue-orange:hover{color:#ff4200}
.green,   a.green, a.green:hover {color:#669900;}
.yellow, a.yellow, a.yellow:hover{color:#fdc47d}
.orange,  a.orange,  a.orange:hover {color:#ff7300;}
.gray,    a.gray,  a.gray:hover{color:#999;}
.gray a:hover{color:#369;text-decoration:none;}
.red,     a.red, a.red:hover{color:#ff3333;}
.brown,   a.brown  a.brown:hover {color:#af5a5a;}
.gray6,    a.gray6 {color:#666;}
a.gray6, a.gray{cursor:pointer;}
.black-red,a.black-red{color:#ff6600;}

/**margin**/
/**padding**/
a.lan { color: #2C97CD; text-decoration: none; }
a.lan:hover { text-decoration: underline; }
body { font-family:; font-size: 14px; }
.main { width: 1000px; margin: 0px auto; }
.top { background-color: #f6f6f6; border-bottom: 1px solid #eeeeee; height: 30px; line-height: 30px; }
.top ul { width: 1000px; margin: 0px auto; }
.top ul li { font-size: 13px; color: #6c6c6c; }
.top ul li.phone-nav { float: left; display: inline; }
.top ul li.site-nav { float: right; display: inline; }
.top ul li.site-nav a { color: #6c6c6c; padding: 0px 5px; }
.top ul li.site-nav a:hover { text-decoration: underline; }
.btn { background-color: #3f8cf6; border: none; font-size: 14px; color: #ffffff; }
.nav-bj { background-color: #3f8cf6; }
.nav li { padding: 10px 30px; float: left; display: inline; font-size: 14px; font-weight: bold; }
.nav li a { color: #ffffff; }
.nav li.select { background-color: #ff9f31; }
.nav-add { float: right; display: inline ; font-size: 14px; font-weight: bold; color: #ffffff; padding: 10px 30px; }
.b-k { border: 1px #3f8cf6 solid; }
.search_l {	width: 100px;}
.search_l ul { float: left; display: inline; height: 180px; border-right: 1px #3f8cf6 solid; width: 100px; }
.search_l ul li { padding: 15px 0; text-align: center; border-bottom: 1px #3f8cf6 solid; width: 100px; cursor: pointer; }
.search_l ul li.select { width: 101px; background-color: #ffffff; }
.search_l ul li.b-t { border-top: 0 #3f8cf6 solid; }
.search_r { float: left; display: inline; margin-left: 10px; }
.search_r li { padding-top: 10px; }
.search_r li .btn { padding: 7px 20px;}
.search_r li label {
	width: 50px;
	display: inline-table;
	text-align: center;
}

.search_r li select {
	border: 1px solid #eeeeee;
	height: 35px;
	line-height: 35px;
	width: 120px;
	margin-left: 5px;
}

.search_r li .ipt {
	border: 1px solid #eeeeee;
	height: 30px;
	line-height: 30px;
	width: 150px;
	margin-left: 5px;
}

.login-n {
	height: 35px;
	line-height: 35px;
}

.login-n li {
	float: left;
	display: inline;
	width: 125px;
	text-align: center;
	border-bottom: 1px #3f8cf6 solid;
	cursor: pointer;
}

.login-n li.select {
	border-bottom-color: #ffffff;
}

.login-n li.b-r {
	border-right: 1px #3f8cf6 solid;
}

.login-n li.b-l {
	border-left: 1px #3f8cf6 solid;
}

.t-h1 {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 15px;
}

.jypt dl {
	width: 333px;
	float: left;
	display: inline;
	margin-top: 20px;
}

.jypt dl dt {
	background: url('../images/icon.png') no-repeat;
	height: 67px;
	width: 67px;
	display: inline-table;
	float: left;
	display: inline;
}

.jypt dl dt.i-1 {
	background-position: 5px 0px;
}

.jypt dl dt.i-2 {
	background-position: -65px 0px;
}

.jypt dl dt.i-3 {
	background-position: -140px 0px;
}

.jypt dl dt.i-4 {
	background-position: 0px -80px;
}

.jypt dl dt.i-5 {
	background-position: -70px -80px;
}

.jypt dl dt.i-6 {
	background-position: -150px -75px;
}

.jypt dl dd {
	color: #3f8cf6;
	float: left;
	display: inline;
	margin-left: 15px;
	padding-top: 10px;
	font-size: 18px;
}

.jypt dl dd p {
	color: #6c6c6c;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
}

.zyxx-nav span {	background: url('../images/b.jpg') no-repeat;	height: 30px;	line-height: 30px;	float: right;	display: inline;	color: #3f8cf6;	text-indent: 30px;}
.zyxx-nav li { color: #3f8cf6;	float: left;	display: inline;	padding: 8px 20px;}
.zyxx-nav li.select {	border: 1px solid #3f8cf6;	font-weight: bold;	border-top: 3px solid #3f8cf6;	border-bottom: 1px #fff solid;}
.zyxx-cen {	margin-top: -1px;}
.tab .tr {	background-color: #f4f9ff;}
.tab th {	background-color: #D2E3FD;	height: 35px;	line-height: 35px;}
.tab td {	line-height: 35px;	text-align: center;}
.yz li {	background: url('../images/yz.jpg') no-repeat 0 2px;	padding: 5px 30px;	text-indent: 10px;	margin-bottom: 10px;	float: left;	display: inline;}
.til_t {	border-bottom: 1px solid #3f8cf6;}
.til_t h2 { border-bottom: 2px solid #FF9F31;	font-size: 14px;	padding: 9px 20px;	float: left;	display: inline;	margin-bottom: -1px;}
.til_t a { padding: 9px 5px;	float: right;	display: inline;	color: #333;}
.yz_tab th { border-bottom: 1px solid #eeeeee;	height: 35px;	line-height: 35px;	color: #3f8cf6;}
.yz_tab td {height: 35px;	line-height: 35px;	text-align: center;}
.rm { margin-top: 10px;}
.rm li { padding: 8px 20px;	float: left;	display: inline;}
.rm li a {	color: #3f8cf6;	text-decoration: none;}
.rm li a:hover { text-decoration: underline; }

.reg li{ float:left; border:1px solid #eeeeee; margin-left:20px; width:223px; border-radius:10px; height:163px; cursor:pointer; position:relative;}
.reg li:hover,.reg li.select{background-color:#f6f6f6;}
.reg li.select em{ display:inline-table;}
.reg li h2{ margin:10px; line-height:40px; border-bottom:1px solid #eeeeee; font-size:20px;}
.reg li p{ line-height:30px; margin:10px;}
.reg li em{background:url('../images/reg_b.jpg') no-repeat; height:16px; width:30px; position:absolute; bottom:-16px; left:98px; display:none;}
.reg-c{ border:1px solid #eeeeee; }
.reg-form li {padding:10px 0;}
.reg-form li label{ width:90px; font-size:14px; display:inline-table; text-align:right;}
.reg-form li .ipt{ border:1px solid #eeeeee; padding:8px 10px;}
.ipt_btn{border:1px solid #eeeeee; margin-left:10px; padding:8px 10px; color:#999;}
.ipt_btn:hover{background-color:#eeeeee;}
.pic-up{ background:url('../images/cen-pic.jpg') no-repeat 45px 45px; margin-right:10px; cursor:pointer; display:inline-table; height:150px; width:150px; border:1px solid #eeeeee;}

.footer { background-color: #f6f6f6;	 border-top: 1px solid #eeeeee; text-align: center; margin-top: 20px; padding: 15px 0; line-height: 40px;}

.alp-fill-order-content{margin-top:8px;margin-right:8px;}
.alp-fill-order-content .section{border: 1px solid #e7e5e5;}
.alp-fill-order-content .title{margin:12px 0px 8px 12px}
.alp-fill-order-content .wtitle{font-size:14px;font-weight:bolder;}
.alp-fill-order-content .content{padding:0px 0px 16px 32px;width:920px;}
.alp-fill-order-content .bordertop{border-top: 1px solid #e7e5e5}
.alp-fill-order-content .submitButton{text-align:center;margin:30px 0 30px 0;float:left;width:100%}
.alp-fill-order-content textarea{background: none}
.alp-fill-order-content .txt{width: 250px}
input.txt{
    padding:8px 10px; 
	border: 1px solid #999;
	border-color: #999 #ddd #ddd #999;
    vertical-align: middle;
}
textarea.txt{
	border: 1px solid #999;
	border-color: #999 #ddd #ddd #999;
}
.alp-tlist-l{width:100%;border:none;border-collapse:collapse;font-size:12px;}
.alp-tlist-l th,.alp-tlist-l td{border:none;padding:3px 8px;}
.alp-tlist-l tbody td{border-bottom:1px solid #edf1f2;border-top:1px solid #edf1f2}
.alp-tlist-l .thead th{border-bottom:1px solid #edf1f2;color:#666;}
.alp-tlist-l .no-result{border-bottom:0px;}
.alp-tlist-l tr td a.gray{color:#999;}
alp-tlist-l tr td .gray a{color:#999;text-decoration:underline;}
.alp-tlist-l tr td .gray3{color:#333;text-decoration:none;}
.alp-tlist-l tr td .gray3:hovor{color:#333;text-decoration:none;}
.alp-tlist-l tr td .deep-red{color:#f33;}
.alp-tlist-l tr td .vas-icon{margin-right:6px;}
.price{font-family: arial;font-size:20px;color:#FF7300;font-weight:bold;}

.list-sortby{
	background:#f7f7f7;
	border-bottom:1px solid #e4e4e4;
	height:36px;
	margin-bottom:5px;
	padding-left:2px;
	position:relative
}

.list-sortby .ui-minipaging{
float:right
}

.list-sortby .list-sorttag{
	float:left
}

.list-sortby .list-sorttag i{
	margin-left:5px;
	font-size:15px;
	position:relative;
	top:1px
}

.list-sortby .price-range{
	color:#999
}
.price-range{
	float:left;
	margin-left:10px;
	position:relative;
	width:164px;
	height:26px;
	z-index:3
}

.list-sortby .price-range input{
	border:1px solid #cfcfcf;
	width:40px;
	padding:5px;
	vertical-align:middle;
	height:15px;
	margin:5px 0;
	border-radius:0
}

.list-sortby .price-range button{
	float:right;
	margin:5px 13px 0 0;
	display:none
}

.list-sortby .price-range .show-button{
	width:164px;
	position:absolute;
	top:-5px;
	padding:4px 0;
	_padding:5px 0;
	left:0;
	border:1px solid #ccc;
	background:#fff;
	border-radius:6px 6px 6px 6px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2)
}

.list-sortby .price-range .show-button button{
	display:block
}

.list-sortby .price-range .show-dor{
	background:url(/r/page/r-mr.gif) no-repeat;
	width:13px;
	height:25px;
	position:absolute;
	right:13px;
	top:5px;
	border:1px solid #ccc;
	cursor:pointer;
	-moz-user-select:-moz-none
}

.list-sortby .price-range .show-dor:hover{
	background-position:-13px 0
}

.list-sortby .price-range .show-dor ul{
	position:absolute;
	top:26px;
	right:-1px;
	z-index:20;
	padding:5px;
	width:100px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:6px 6px 6px 6px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	display:none
}

.list-sortby .price-range .show-dor ul.show-con{
	display:block
}

.list-sortby .price-range .show-dor .ads-h{
	height:215px;
	overflow-y:scroll
}

.list-sortby .price-range .show-dor ul li{
	color:#666
}

.list-sortby .price-range .show-dor ul li a{
	color:#666;
	display:block;
	text-decoration:none;
	padding:0;
	line-height:20px;
	height:20px;
	border-right:0 none;
	padding:2px 5px
}

.show-dor li a:hover{
	background:#ffa200;
	color:#fff
}

.list-sortby a{
	border-right:1px solid #eaeaea;
	color:#999;
	display:inline-block;
	height:35px;
	line-height:35px;
	margin-bottom:1px;
	padding:0 11px;
	*display:inline;
	*zoom:1;
	text-decoration:none
}

.list-sortby a.last{
	border-right:0
}

.list-sortby a:hover,.list-sortby a.selected{
	color:#ff8a00
}

.list-sortby .list-search-box{
	position:absolute;
	right:2px;
	top:3px
}
.task-area-select.ui-dropdown{
	z-index:101
}

.task-area-select .etabs{
	margin:0;
	padding:0
}

.task-area-select .tab{
	display:inline-block;
	zoom:1;
	*display:inline;
	background:#eee;
	border:solid 1px #bfbfbf;
	border-bottom:0;
	-moz-border-radiusx:4px 4px 0 0;
	-webkit-border-radiusx:4px 4px 0 0;
	min-width:50px;
	text-align:center
}

.task-area-select .tab a{
	font-size:12px;
	line-height:2em;
	display:block;
	padding:0 10px;
	outline:0;
	height:auto
}

.task-area-select .tab a:hover{
	text-decoration:underline
}

.task-area-select .tab.active{
	background:#fff;
	padding-top:0;
	position:relative;
	top:1px;
	border-color:#bfbfbf
}

.task-area-select .tab a.active{
	font-weight:bold
}

.task-area-select .tab-container .panel-container{
	background:#fff;
	border:1px solid #666;
	padding:10px;
	-moz-border-radius:0 4px 4px 4px;
	-webkit-border-radius:0 4px 4px 4px
}

.area-select-content{
	min-height:195px
}

.area-select-content .tab-container>div{
	border-top:1px solid #bfbfbf;
	padding:3px 0
}

.area-select-content .area-content li{
	display:inline-block;
	min-width:40px;
	width:auto;
	margin-right:5px
}

.area-select-content .area-content ul{
	white-space:normal
}

.area-select-content .area-content ul,.area-select-content .area-content li{
	float:left
}

.area-select-content .area-content a,.ui-dropdown.hover .ui-dropdown-menu .area-content a,.ui-dropdown:hover .ui-dropdown-menu .area-content a{
	padding:0;
	display:inline-block;
	border:0;
	color:#000;
	height:auto;
	line-height:1em;
	padding:3px
}

.area-select-content .area-content a:hover,.area-select-content .area-content a.selected,.ui-dropdown.hover .ui-dropdown-menu .area-content a:hover,.ui-dropdown:hover .ui-dropdown-menu .area-content a:hover,.ui-dropdown.hover .ui-dropdown-menu .area-content a.selected,.ui-dropdown:hover .ui-dropdown-menu .area-content a.selected{
	background:#ff8a00;
	color:white
}
.list-sortby a{
	border-right:1px solid #eaeaea;
	color:#999;
	display:inline-block;
	height:35px;
	line-height:35px;
	margin-bottom:1px;
	padding:0 11px;
	*display:inline;
	*zoom:1;
	text-decoration:none
}

.list-sortby a.last{
	border-right:0
}

.list-sortby a:hover,.list-sortby a.selected{
	color:#ff8a00
}

.list-sortby .list-search-box{
	position:absolute;
	right:2px;
	top:3px
}
.list-change-view{
	float:right;
	margin-right:10px
}

.list-change-view .list-view{
	font-size:16px;
	border:0;
	color:#666;
	padding-left:5px;
	padding-right:5px
}

.list-change-view .cur{
	color:#e3e3e3;
	cursor:default
}

.list-change-view .cur:hover{
	color:#e3e3e3
}
.list-container-hd-border{
	border-bottom:1px solid #f4f4f4
}
.list-container-hd{
	border-bottom:1px solid #ff9400;
	position:relative
}
.list-container-hd .list-change li{
	float:left;
	color:#999;
	background:#f7f7f7;
	text-align:center;
	font-size:14px;
	height:34px;
	line-height:34px;
	padding:0 30px;
	border:1px solid #e4e4e4
}
.list-container-hd h2{
	margin:0;
	font-weight:400
}
.list-container-hd .list-change li.current{
    color:#fff;
	background:#ff9400;
	border:1px solid #ff9400
}
.list-container-hd .list-change li a{
	color:#666;
	font-family:"microsoft yahei";
	display:block
}
.filter-along{
	padding:10px;
	border:1px solid #ddd
}
.list-filter dl.filter-category a{
display:inline-block;
	width:100px;
	margin-right:20px;
	padding-bottom:10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}

.list-filter dl.filter-category a:first-child{
	width:auto;
	margin-right:30px
}

.list-filter dl.filter-category a:hover,.list-filter dl.filter-category a.selected{
display:inline-block;
	color:#ff8a00;
	background:transparent
}
.list-filter dl.filter-last{
	border-bottom:0 none
}
.list-filter{
	position:relative;
	margin-bottom:20px
}

.list-filter .filter-icon{
	position:absolute;
	display:inline-block;
	width:63px;
	height:16px;
	background:url("../../common/img/ex_up.png") 0 0 no-repeat;
	bottom:-17px;
	left:380px;
	cursor:pointer
}

.list-filter i.filter-up{
	background-position:0 -17px
}

.list-filter dl{
	border-bottom:1px solid #f4f4f4;
	margin:0;
	padding:10px 0
}
.list-filter dt{
	float:left
}

.list-filter dd{
	margin-left:87px
}
.list-task{
	width:100%
}

.list-task p{
margin: 0px 0px 10px;
	color:#999
}

.list-task em{
	color:#ff8a00;
	font-style:normal
}

.list-task td{
	padding:15px 0 0 0;
	vertical-align:top
}

.list-task tr{
	border-bottom:1px dashed #ddd
}

.list-task tr.hover{
	background-color:#f5f9ff
}

.list-task .list-task-reward{
	margin-left:5px;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	margin-right:10px
}

.list-task .list-task-number{
	color:#5faadd
}

.list-task .task-icons{
	margin:0 0 -5px 5px
}

.list-task .text{
	color:#999;
}

.list-task .success{
	color:#58b365
}

.list-task .list-task-trusteeship,.list-task .list-task-notrusteeship{
	font-size:12px;
	background:url('/r/page/minbao.gif') no-repeat 0 center;
	display:inline-block;
	line-height:20px
}

.list-task .list-task-notrusteeship{
	background-image:url('/r/page/wzhif.gif');
	color:#999
}

.list-task .list-task-title{
	color:#0b73bb
}

.list-task .list-task-title:visited{
	color:#551a8b
}

.list-task .list-task-title hl{
	color:orange
}

.list-task .list-task-title{
	font-size:14px;
	line-height:14px;
	font-weight:bold
}

.list-task .list-task-ctn{
	white-space:nowrap;
	width:450px;
	text-overflow:ellipsis;
	overflow:hidden
}

.list-task .list-icon-top{
	background-color:#ffa200;
	color:#fff;
	padding:0 4px;
	display:inline-block;
	margin-left:5px;
	cursor:pointer
}

.list-task .list-icon-sel{
	background-color:#23a841
}

.list-task .list-icon-yxmall{
	background-color:#da210d
}

.list-task .narrow-p{
	margin-bottom:0
}

.list-side{
	background:#fff;
	padding:15px 9px;
	border:1px solid #e0e0e0;
	overflow:hidden
}

.list-side .list-side-hd,.list-side .list-side-bd,.list-side .list-side-ft{
	float:left;
	overflow:hidden
}

.list-pub{
	padding:0
}

.list-pub .list-side-hd{
	padding:13px;
	width:204px;
	text-align:center;
	font-size:17px;
	color:#ff8a00;
	font-family:"microsoft yahei",Arial,Helvetica,sans-serif;
	font-weight:bold
}

.list-pub .list-side-bd{
	padding:0 13px 13px 22px;
	text-align:center
}

.list-pub .list-side-bd .list-pub-ul{
	text-align:left
}

.list-pub .list-side-bd .list-pub-ul li{
	padding-left:35px;
	background:url(../../common/img/list-side-img.png) no-repeat;
	height:30px;
	line-height:30px
}

.list-pub .list-side-bd .list-pub-ul li.first{
	background-position:0 8px
}

.list-pub .list-side-bd .list-pub-ul li.second{
	background-position:0 -41px
}

.list-pub .list-side-bd .list-pub-ul li.third{
	background-position:0 -90px
}

.list-pub .list-side-bd .list-pub-btn{
	padding:7px 46px;
	font-weight:bold;
	margin-top:10px
}

.list-pub .list-side-ft{
	width:228px;
	padding:0;
	background:url(../../common/img/list-pub-bg.png) repeat-x;
	height:152px;
	margin-top:8px
}

.list-pub .list-side-ft .list-pub-news-slide{
	height:76px;
	overflow:hidden;
	margin-top:40px;
	padding:0 15px
}

.list-pub .list-side-ft .list-pub-news-item{
	height:71px;
	overflow:hidden;
	border-bottom:1px dashed #ccc
}

.list-pub .list-side-ft .list-pub-news-item h6{
	font-size:12px;
	font-weight:bold;
	color:#333;
	margin:0
}

.list-pub .list-side-ft .list-pub-news-item-con{
	height:40px;
	overflow:hidden
}

.list-pub .list-side-ft .list-pub-news-item-con a{
	color:#666
}

.list-pub .list-side-ft .list-pub-news-item-con em{
	font-style:normal
}

.list-pub .list-side-ft .list-pub-news-item-con .price{
	color:#ff8a00;
	margin-right:5px
}

.list-pub .list-side-ft .list-pub-news-item-con .time{
	color:#999
}

.list-pub .list-side-ft .list-pub-more{
	padding:0 15px;
	margin-top:5px
}

.list-pub .list-side-ft .list-pub-more a{
	color:#0b73bb
}

.list-recommend .list-side-hd{
	width:100%;
	font-size:14px;
	font-weight:bold;
	color:#666;
	margin-bottom:10px
}

.list-recommend .list-side-hd a{
	float:right;
	font-size:12px;
	font-weight:normal;
	position:relative;
	top:3px
}

.list-recommend .list-side-bd{
	width:220px
}
.list-recommend .list-side-hd{
	width:100%;
	font-size:14px;
	font-weight:bold;
	color:#666;
	margin-bottom:10px
}



.list-recommend-ul li{
	background:#f4f4f4;
	color:#666;
	margin-bottom:15px;
	border:3px solid #fff
}

.list-recommend-ul li:hover{
	border:3px solid #bc0000;
	-webkit-transition:border .2s ease-in;
	-moz-transition:border .2s ease-in;
	-ms-transition:border .2s ease-in;
	-o-transition:border .2s ease-in;
	transition:border .2s ease-in
}

.list-recommend-ul .recommond-img{
	width:214px;
	height:185px;
	overflow:hidden;
	position:relative
}

.list-recommend-ul .recommond-img img{
	width:214px;
	height:185px
}

.list-recommend-ul .recommond-img .fws-employ,.list-recommend-ul .recommond-img .fws-shop{
	background:#333;
	color:#ff9400;
	font-weight:bold;
	display:none;
	position:absolute;
	bottom:0;
	height:30px;
	line-height:30px;
	text-align:center;
	width:47%;
	opacity:.7;
	filter:alpha(opacity=70)
}

.list-recommend-ul .recommond-img .fws-employ{
	left:0
}

.list-recommend-ul .recommond-img .fws-shop{
	right:0
}

.list-recommend-ul .recommond-img:hover .fws-employ,.list-recommend-ul .recommond-img:hover .fws-shop{
	display:block
}

.list-recommend-ul .recommond-other-info{
	padding:5px 15px 15px 15px
}

.list-recommend-ul .recommond-name a{
	color:#0b73bb;
	font-weight:bold
}

.list-recommend-ul em{
	font-style:normal;
	color:#ff8a00
}

.list-recommend-ul .recommond-income{
	overflow:hidden;
	height:20px
}

.list-recommend-ul .recommond-income strong{
	color:#ff3b3b
}

.list-recommend-ul .recommend-service{
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}

.list-recommend-ul .recommond-area,.list-recommend-ul .recommend-service{
	margin-top:10px
}


.task_info .task-tender-condition .condition_item{
	background-position:0 5px
}

.task_info .task-tender-condition .condition_realname{
	background-image:url("../images/task_condition_realname_small.png");
	padding-left:32px
}

.task_info .task-tender-condition .condition_mobile{
	background-image:url("../images/task_condition_mobile_small.png");
	padding-left:22px
}

.task_info .task-tender-condition .condition_security{
	background-image:url("../images/task_condition_security_small.png");
	padding-left:26px;
	background-position:0 0
}

.task_info .task-tender-condition .condition_originworks{
	background-image:url("../images/task_condition_originworks_small.png");
	padding-left:26px;
	background-position:0 0
}

.task_info .task-tender-condition .condition_maintain{
	background-image:url("../images/task_condition_maintain_small.png");
	padding-left:26px;
	background-position:0 0
}

.task_info_title{
	font-size:12px;
	color:#666;
	font-weight:bold
}

.task_info_content{
	color:#666;
	word-wrap:break-word;
	word-break:break-all;
	line-height:2;
	margin-top:5px;
	min-height:150px
}
.task_desc {
    margin-top: 54px;
    margin-bottom: 57px;
}


.task_info_content.collapsed{
	overflow:hidden;
	height:70px;
	margin:2px 0 20px 0
}

.section-title{
	height:20px;
	line-height:20px;
	margin-bottom:20px;
	position:relative;
	border-top:1px solid #ebe8e8
}

.section-title .section-title-text{
	position:absolute;
	border-left:3px solid #ff9400;
	padding-left:7px;
	padding-right:6px;
	color:#3f3c3b;
	font-size:20px;
	background:#fff;
	top:-10px
}
 .fws-item{
	position:relative;
	border-bottom:1px dotted #e4e4e4;
	padding-top:35px;
	padding-bottom:36px
}

.fws-item.no-border{
	border-bottom:0;
	padding-bottom:37px
}

.fws-item .success{
	position:relative
}

.fws-item-comment{
	margin-left:56px;
	margin-right:49px;
	background:#fff;
	border:1px solid #e7e7e7;
	border-radius:5px;
	margin-top:18px;
	padding:23px 37px;
	position:relative
}

.fws-item-comment .arrow{
	border:10px solid transparent;
	border-bottom-color:#e7e7e7;
	border-left-width:7px;
	border-right-width:7px;
	position:absolute;
	top:-20px;
	left:47px;
	_border-color:tomato;
	_filter:chroma(color=#ff6347)
}

.fws-item-comment .arrow-inner{
	border-bottom-color:#fff;
	top:-18px
}

.fws-item-comment-hd{
	font-size:14px;
	color:#333
}

.fws-item-comment-hd .good-comment,.fws-item-comment-hd .bad-comment{
	display:inline-block;
	height:25px;
	padding:2px 0 0 30px;
	background:url(http://t5.zbjimg.com/r/page/pz.png) no-repeat 3px -38px;
	color:#f83d10
}

.fws-item-comment-hd .bad-comment{
	background-position:3px -114px
}

.fws-item-comment .evaluation-score{
	margin:5px 0;
	color:#666
}

.fws-item-comment .evaluation-score-num{
	color:#666;
	margin-right:55px
}

.fws-item-comment .evaluation-score .star{
	display:inline-block;
	width:69px;
	height:10px;
	background-image:url(../images/task_detail/star.png);
	background-repeat:no-repeat;
	overflow:hidden;
	margin-right:13px
}

.fws-item-comment .evaluation-score .s5{
	background-position:0 0
}

.fws-item-comment .evaluation-score .s4{
	background-position:-15px 0
}

.fws-item-comment .evaluation-score .s3{
	background-position:-30px 0
}

.fws-item-comment .evaluation-score .s2{
	background-position:-45px 0
}

.fws-item-comment .evaluation-score .s1{
	background-position:-60px 0
}

.fws-item-comment .evaluation-score .s0{
	background-position:-75px 0
}

.fws-item-comment .evaluation-impress{
	margin:10px 0
}

.fws-item-comment .evaluation-impress .impress-item{
	color:#666;
	display:inline-block;
	background-color:#fff4d7;
	border:1px solid #f1dca6;
	margin-right:10px
}

.fws-item-comment .evaluation-impress .impress-item em{
	border:1px solid #fff;
	padding:2px 7px;
	display:inline-block;
	font-style:normal
}

.fws-item-comment .evaluation-comment-content{
	text-indent:-3em;
	padding-left:3em;
	margin-bottom:0
}

.fws-item-comment .evaluation-comment-time{
	text-indent:3em
}

.fws-item .fws-meta{
	float:left;
	width:325px;
	margin-left:56px
}

.fws-item .fws-meta .fws-success{
	font-size:16px;
	position:absolute;
	width:30px;
	height:90px;
	top:-34px;
	left:10px;
	background:url(../images/task_detail/success_tag.png) no-repeat top
}

.fws-item .fws-meta .fws-success .fws-success-status{
	font-weight:bold;
	color:#fff;
	margin-top:35px;
	font-size:16px;
	padding:0 7px;
	line-height:1.25
}

.fws-item .fws-meta .fws-success-level .fws-success-status{
	margin-top:10px
}

.fws-item .fws-meta .fws-success-level2,.fws-item .fws-meta .fws-success-level3{
	top:89px;
	left:71px
}

.fws-item .fws-meta .fws-success-level2 .fws-success-status,.fws-item .fws-meta .fws-success-level3 .fws-success-status{
	font-size:12px;
	width:22px;
	height:56px;
	margin-top:5px;
	margin-left:9px;
	padding:0
}

.fws-item .fws-meta .fws-success-level1{
	background-image:url(../images/task_detail/first_tag.png)
}

.fws-item .fws-meta .fws-success-level2{
	background-image:url(../images/task_detail/second_tag.png)
}

.fws-item .fws-meta .fws-success-level3{
	background-image:url(../images/task_detail/third_tag.png)
}

.fws-item .fws-meta .fws-avatar{
	float:left;
	margin-right:15px;
	border:1px solid #e2e2e2;
	border-radius:50%;
	overflow:hidden;
	position:relative
}

.fws-item .fws-meta .fws-avatar img,.fws-item .fws-meta .fws-avatar-knowme{
	width:110px;
	height:110px
}

.fws-item .fws-meta .fws-avatar-knowme{
	top:0;
	left:0;
	position:absolute;
	line-height:110px;
	color:#fff;
	cursor:pointer;
	text-align:center;
	background-color:#ff9400;
	background-color:rgba(255,148,0,0.75);
	filter:opacity(75)\0;
	display:none
}

.fws-item .fws-meta .fws-avatar:hover .fws-avatar-knowme{
	display:block
}

.fws-item .fws-meta .fws-name{
	color:#333;
	font-size:14px;
	margin-top:13px;
	margin-bottom:7px
}

.fws-item .fws-meta .fws-name .witkey-item-name{
	font-weight:bold;
	color:#333
}

.fws-item .fws-meta .fws-level{
	margin-bottom:27px
}

.fws-item .fws-item-webim{
	height:22px;
	margin-top:3px;
	margin-bottom:27px
}

.fws-item .fws-bd{
	margin:13px 235px auto 410px;
	color:#666
}

.fws-item .fws-bd .fws-turnoverrate{
	margin-bottom:15px
}

.fws-item .fws-bd .fws-turnoverrate .orange{
	margin-right:5px;
	font-weight:bold
}

.fws-item .fws-bd .fws-goodcommentrate{
	margin-bottom:15px
}

.fws-item .fws-bd .fws-goodcommentrate .orange{
	margin-right:25px;
	font-weight:bold
}

.fws-item .fws-bd .fws-goodcommentrate .blue{
	font-weight:bold
}

.fws-item .fws-bd .fws-goodcommentrate .comment-link span{
	color:#666
}

.fws-item .fws-bd .fws-goodcommentrate>span{
	letter-spacing:4px
}

.fws-item .fws-bd .fws-comprehensive{
	margin-bottom:25px
}

.fws-item .fws-bd .fws-comprehensive .star{
	display:inline-block;
	width:69px;
	height:10px;
	background-image:url(../images/task_detail/star.png);
	background-repeat:no-repeat;
	overflow:hidden;
	margin-right:13px
}

.fws-item .fws-bd .fws-comprehensive .s0{
	background-position:-75px 0
}

.fws-item .fws-bd .fws-comprehensive .s1{
	background-position:-60px 0
}

.fws-item .fws-bd .fws-comprehensive .s2{
	background-position:-45px 0
}

.fws-item .fws-bd .fws-comprehensive .s3{
	background-position:-30px 0
}

.fws-item .fws-bd .fws-comprehensive .s4{
	background-position:-15px 0
}

.fws-item .fws-bd .fws-comprehensive .s5{
	background-position:0 0
}

.fws-item .fws-bd .fws-recentdeal{
	color:#999
}

.fws-item .fws-bd .fws-recentdeal>a{
	max-width:216px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:top
}

.fws-item .fws-bd .fws-recentdeal .dealprice{
	margin-left:20px
}

.fws-item .fws-bd .fws-recentdeal .dealprice-num{
	color:#666
}

.fws-item .fws-employ{
	position:absolute;
	top:50%;
	right:49px;
	margin-top:-22px
}

.fws-item .fws-employ a{
	border:1px solid #ff9400;
	background:#fff;
	color:#ff9400;
	height:33px;
	line-height:33px;
	padding:10px 41px;
	font-size:14px;
	-ms-filter:none;
	filter:none;
	-webkit-transition:all .7s;
	-moz-transition:all .7s;
	-o-transition:all .7s;
	-ms-transition:all .7s
}

.fws-item .fws-employ a:hover{
	background:#ff9400;
	color:#fff
}

.fws-item-selected{
	background:#f7f7f7
}

.fws-item-selected .fws-employ a{
	background-color:#f7f7f7
}
.m_mylsBox{  border:1px solid #e6e5e5;}
.m_mylsBox .FS14{border-bottom:1px solid #e6e5e5; line-height:40px; text-indent:20px;}
.m_mylsBox-bd{ padding:10px 11px}

.m_mylsBox-bd{ border-bottom:1px solid #e6e5e5; }
.m_mylsBox-bd h3{ color:#2b2b2b; font-size:14px; padding:3px 15px 3px;position: relative; font-family:'Microsoft YaiHei';
        *padding:7px 15px 3px;}
.m_mylsBox-bd .content{ line-height:30px; font-size:12px; color:#333; padding-left:30px;}

.m_tablePanel{ background:#f7faff; border:2px solid #246bc9; padding:5px 30px; position:relative;height:100%;}
.m_tablePanel .i_arrowup{ position:absolute; right: 57px; top: -6px;}
.OrderTable{border:1px solid #e6e5e5;width:100%; }
.OrderTable th,.OrderTable td
{ text-align:left; padding:7px 10px;border:1px solid #e6e5e5; }
.OrderTable th
{color:#717171;}